affine==2.3.0
appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
aws-requests-auth==0.4.2
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
bokeh==2.0.2
boto3==1.12.39
botocore==1.15.39
branca==0.4.1
bs4==0.0.1
Cartopy==0.17.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
contextily==1.0.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
descartes==1.1.0
dnspython==1.16.0
docutils==0.15.2
entrypoints==0.3
esda==2.2.1
fastcache==1.1.0
Fiona==1.8.11
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JSON==0.3.4
folium==0.11.0
GDAL==3.0.2
geographiclib==1.50
geojson==2.5.0
geopandas==0.6.1
geoplot==0.4.0
geopy==1.21.0
giddy==2.3.0
gmpy2==2.0.8
idna==2.9
importlib-metadata==1.5.0
inequality==1.0.0
ipykernel==5.1.4
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.14.1
jsonlines==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libpysal==4.2.2
llvmlite==0.32.0
mapclassify==2.2.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mercantile==1.1.4
mgwr==2.1.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.2
mplleaflet==0.0.5
mpmath==1.1.0
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nose==1.3.7
notebook==6.0.3
numba==0.49.0
numexpr==2.7.1
numpy==1.18.1
olefile==0.46
osmnx==0.12.1
OWSLib==0.19.2
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pointpats==2.1.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pyarrow==0.15.1
pycodestyle==2.5.0
pycparser==2.20
pyepsg==0.4.0
Pygments==2.5.2
pykdtree==1.3.1
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==2.6.0
pyrsistent==0.16.0
pysal==2.2.0
pyshp==2.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.7.3
QtPy==1.9.0
quantecon==0.4.5
quilt3==3.1.10
rasterio==1.1.0
rasterstats==0.14.0
requests==2.23.0
requests-futures==1.0.0
Rtree==0.9.4
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.1
segregation==1.2.0
Send2Trash==1.5.0
Shapely==1.7.0
simplejson==3.17.0
six==1.14.0
snuggs==1.4.7
soupsieve==2.0
spaghetti==1.4.2.post2
spglm==1.0.7
spint==1.0.6
splot==1.1.2
spreg==1.1.1
spvcm==0.3.0
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
terminado==0.8.3
testpath==0.4.4
tobler==0.2.0
tornado==6.0.3
tqdm==4.46.0
traitlets==4.3.3
typed-ast==1.4.0
typing-extensions==3.7.4.1
urllib3==1.24.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
